{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Projet Bible
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form class="form-inline flex-column" method="POST">
        <h1>Projet Bible</h1>
        <input class="btn btn-secondary mt-2" type="submit" value="Je me sens béni">
    </form>
</div>
{% endblock %}

{% block extra_css %}
<link href="{% static 'styles/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}