<div class="bg-light border-right" id="sidemenu" style="position: fixed; left: 0; top: 60px; bottom: 0;">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" href="#">Favoris</a>
        <a class="list-group-item list-group-item-action bg-light" href="#">Nom d'utilisateur</a>
        <a class="list-group-item list-group-item-action bg-light" href="#">Mot de passe</a>
        <a class="list-group-item list-group-item-action bg-light" href="#">Supprimer le compte</a>
    </div>
</div>